# Ejercicios de *list comprehension*                                                 -                                      Antonio Lorenzo Cano Jiménez

## Ejercicio 1

Crea una lista de los cuadrados de los primeros 10 números naturales.

Salida esperada: `[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]`

In [ ]:
numeros = [x**2 for x in range (0,10)]
print(numeros)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Ejercicio 2

Crea una lista de los números pares del 0 al 20.

Salida esperada: `[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]`

In [ ]:
numerosPares = [num for num in range(0,22) if num % 2 == 0]
print(numerosPares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Ejercicio 3

Pasa todas las palabras de una lista a mayúsculas.

### Ejemplo:

Entrada: `['siete', 'caballos', 'vienen', 'de', 'bonanza']`

Salida esperada: `['SIETE', 'CABALLOS', 'VIENEN', 'DE', 'BONANZA']`

In [2]:
minusculas = ['siete', 'caballos', 'vienen', 'de', 'boananza']
mayusculas = [palabra.upper() for palabra in minusculas]
print(mayusculas)

['SIETE', 'CABALLOS', 'VIENEN', 'DE', 'BOANANZA']

## Ejercicio 4

Crea una lista de todos los números positivos múltiplos de 5 menores que 100.

Salida esperada: `[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]`

In [4]:
multiplos_de_5 = [num for num in range(0,105) if(num%5==0)]
print(multiplos_de_5)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

## Ejercicio 5

Crea una lista con las raíces cuadradas de los números pares del 0 al 20. Los números se deben mostrar redondeados con dos decimales.

Salida esperada: `[0.0, 1.41, 2.0, 2.45, 2.83, 3.16, 3.46, 3.74, 4.0, 4.24, 4.47]`

In [10]:
import math

raices = [round(math.sqrt(num), 2) for num in range(0, 21) if num % 2 == 0]
print(raices)

[0.0, 1.41, 2.0, 2.45, 2.83, 3.16, 3.46, 3.74, 4.0, 4.24, 4.47]


## Ejercicio 6

Filtra una lista para obtener los números positivos.

### Ejemplo:

Entrada: `[0, -1, 2, -3, 4, -5]`

Salida esperada: `[0, 2, 4]`

In [13]:
numeros = [0,-1,2,-3,4,-5]
numeros_positivos = [num for num in numeros if(num>=0)]
print(numeros_positivos)

[0, 2, 4]

## Ejercicio 7

Concatena palabras de una lista excluyendo las que contienen menos de 3 letras.

### Ejemplo:

Entrada: `['Yo', 'estoy', 'aprendiendo', 'mucho', 'en', 'el', 'curso', 'de', 'C', 'y', 'Python']`

Salida esperada: `'estoy aprendiendo mucho curso Python'`

Pista: el método `join()` permite unir las cadenas de caracteres que contiene una lista en una sola cadena.

In [16]:
palabras = ['Yo', 'estoy', 'aprendiendo', 'mucho', 'en', 'el', 'curso', 'de', 'C', 'y', 'Python']
salida = [" ".join(palabra for palabra in palabras if(len(palabra)>3))]
print(salida)

['estoy aprendiendo mucho curso Python']

## Ejercicio 8

Crear una lista con los valores de un diccionario donde la clave sea un número par.

### Ejemplo

Entrada: `{1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro'}`

Salida esperada: `['dos', 'cuatro']`

Pistas:

* El método `items()` aplicado a un diccionario, genera una lista de tuplas que son parejas `(clave, valor)`

* Una lista de tuplas se puede recorrer con un `for`. Si las tuplas son de dos elementos, se especifican dos variables en ese `for` para ir extrayendo los valores.

In [26]:
diccionario = dict([(1, 'uno'),(2, 'dos'), (3, 'tres'),(4,'cuatro')])
diccionario_par = {clave: valor for clave, valor in diccionario.items() if clave % 2 == 0}
print(diccionario_par.values())

dict_values(['dos', 'cuatro'])

## Ejercicio 9

Convierte una lista de cadenas de caracteres a enteros, excluyendo cualquier cadena que no represente un número.

### Ejemplo

Entrada: `['1', '2', 'tres', '4', 'cinco']`

Salida esperada: `[1, 2, 4]`

Pista: existe un método con un nombre bastante obvio que, aplicado a una cadena de caracteres, devuelve verdadero si esa cadena se puede convertir en número.

In [27]:
from pickle import STRING
numeros_strings = ['1','2','tres','4','cinco',1]
numeros_filtrados = [numero for numero in numeros_strings if(isinstance(numero,str) and numero.isdigit())]
print(numeros_filtrados)

['1', '2', '4']

## Ejercicio 10

Filtra una lista de palabras de tal forma que se extraigan todas las que contienen una letra determinada, por ejemplo la 'a'.

### Ejemplo

Entrada: `['casa', 'ordenador', 'rosco', 'deporte', 'cereza', 'moto']`

Salida esperada: `['casa', 'ordenador', 'cereza']`

In [20]:
palabras_sin_filtrar = ['casa', 'ordenador', 'rosco', 'deporte', 'cereza', 'moto']
palabras_filtradas = [palabra for palabra in palabras_sin_filtrar if('a' in palabra)]
print(palabras_filtradas)

['casa', 'ordenador', 'cereza']

## Ejercicio 11

Obtén los elementos únicos de una lista.

### Ejemplo

Entrada: `[1, 2, 2, 3, 4, 3, 5]`

Salida esperada: `[1, 2, 3, 4, 5]`

Pista: `enumerate(lista)` permite extraer con un `for` tanto el valor como un contador que comienza en `0`.

In [25]:
numeros_sin_filtrar = [1,2,2,3,4,3,5]
numeros_filtrados = []
[numeros_filtrados.append(n) for n in numeros_sin_filtrar if n not in numeros_filtrados]
print(numeros_filtrados)

[1, 2, 3, 4, 5]

## Ejercicio 12

Filtra una lista de nombres de tal forma que se saquen los que empiezan por vocal.

### Ejemplo

Entrada: `['José', 'Ana', 'Antonio', 'Pedro', 'David', 'Eva', 'Ada']`

Salida esperada: `['Ana', 'Antonio', 'Eva', 'Ada']`

In [24]:
nombres = ['José', 'Ana', 'Antonio', 'Pedro', 'David', 'Eva', 'Ada']
nombres_filtrados = [nombre for nombre in nombres if(nombre[0] == 'A') or (nombre[0]=='O') or (nombre[0] == "U") or nombre[0]=="I" or nombre[0]=='E']
print(nombres_filtrados)

['Ana', 'Antonio', 'Eva', 'Ada']